// variables de fuente
$fontHt: 62.5%;
$fontH1H2: 8rem;
$fontH1H2b: 6rem;
$fontH3: 4rem;
$fontRed: 3.2rem;
$font2a: 2.5rem;
$font2b: 2rem;
$font1: 1.5rem;

//colores
$choco: #784738;
$orange: darkorange;
$snow: snow;

